@import "../../styles/global.scss";

.root {
  overflow-x: hidden;
  background: $fifthColor;

  .highlights {
    display: flex;
    position: relative;
    justify-content: space-between;

    @include secPadding;

    margin-top: -100px;

    @include media-tabletLg {
      margin-top: -150px;
    }

    @include media-desktopSm {
      margin-top: -175px;
    }

    .meal {
      display: flex;
      align-items: center;
      flex-direction: column;

      .img {
        width: 75%;
        transition: 0.4s transform;

        &:hover {
          transform: translateY(-10px);
        }
      }

      .title {
        padding: 10px 0 0;
        color: $firstColor;
      }
    }

    .middle {
      margin: 20px 0 0;
    }
  }

  .menuOptions {
    @include secPadding;

    .heading {
      display: flex;
      padding: 0 0 50px;
      text-align: center;
      align-items: center;
      flex-direction: column;
      border-bottom: 2px solid $lightGray;

      @include media-desktopSm {
        text-align: left;
        flex-direction: row;
        justify-content: space-between;
      }

      .title {
        color: $firstColor;
      }

      .desc {
        margin: 20px 0 0;

        @include media-desktopSm {
          margin: 0;
          width: 50%;
        }
      }
    }

    .mealCol {
      display: flex;
      text-align: center;
      align-items: center;
      flex-direction: column;

      @include media-tabletSm {
        text-align: left;
        align-items: flex-start;
      }

      @include media-desktopSm {
        gap: 20px;
        margin: 70px 0 0;
        flex-direction: row;
        justify-content: space-between;
      }

      @include media-desktopSm {
        gap: 50px;
      }

      .meal {
        margin: 70px 0 0;

        @include media-desktopSm {
          flex: 50%;
          margin: 0;
        }
      }
    }

    .bigOffer {
      margin: 100px 0;
    }
  }

  .createOptions {
    @include secPadding;

    .heading {
      display: flex;
      padding: 0 0 50px;
      text-align: center;
      align-items: center;
      flex-direction: column;
      border-bottom: 2px solid $lightGray;

      @include media-desktopSm {
        text-align: left;
        flex-direction: row;
        justify-content: space-between;
      }

      .title {
        color: $firstColor;
      }

      .desc {
        margin: 20px 0 0;

        @include media-desktopSm {
          margin: 0;
          width: 40%;
        }
      }
    }

    .createArea {
      .wrapper {
        @include media-desktopSm {
          gap: 75px;
          display: flex;
        }

        @include media-desktopMd {
          gap: 100px;
        }

        .left {
          @include media-desktopSm {
            display: flex;
            flex-direction: column;
          }

          .step {
            display: flex;
            padding: 50px 0;
            text-align: center;
            align-items: center;
            flex-direction: column;
            border-bottom: 2px solid $lightGray;

            @include media-tabletSm {
              text-align: left;
              align-items: flex-start;
            }

            @include media-desktopSm {
              padding: 75px 0;
            }

            .subTitle {
              margin: 15px 0 0;
              color: $firstColor;
            }

            .title {
              margin: 15px 0 0;
            }

            .option {
              margin: 15px 0 0;
            }
          }
        }

        .right {
          .step {
            display: flex;
            padding: 50px 0;
            text-align: center;
            align-items: center;
            flex-direction: column;
            border-bottom: 2px solid $lightGray;

            @include media-tabletSm {
              text-align: left;
              align-items: flex-start;
            }

            @include media-desktopSm {
              margin: 75px 0 0;
              padding: 0 0 0 75px;
              border-bottom: unset;
              border-left: 2px solid $lightGray;
            }

            @include media-desktopMd {
              padding: 0 0 0 100px;
            }

            .subTitle {
              margin: 15px 0 0;
              color: $firstColor;
            }

            .title {
              margin: 15px 0 0;
              white-space: nowrap;
            }

            .option {
              margin: 15px 0 0;
            }
          }

          .listTitle {
            margin: 50px 0 0;
          }

          .toppingListWrapper {
            display: flex;
            align-items: center;
            justify-content: center;

            .toppingList {
              margin: 20px 0 0;
              width: 100%;

              @include media-desktopSm {
                display: flex;
                flex-wrap: wrap;
              }

              .topping {
                display: flex;
                text-align: center;
                align-items: center;

                font-weight: 400;
                color: $forthColor;
                margin: 15px auto 0;
                font-family: "Source Sans Pro";

                @include media-desktopSm {
                  width: 50%;
                }

                &::before {
                  top: 10px;
                  left: -25px;
                  width: 16px;
                  height: 16px;

                  content: "";
                  border: 1px solid;
                  margin: 0 10px 0 0;
                  display: inline-block;
                }
              }
            }
          }
        }
      }
    }
  }

  .dessertOptions {
    @include secPadding;

    .heading {
      display: flex;
      padding: 0 0 50px;
      text-align: center;
      align-items: center;
      flex-direction: column;
      border-bottom: 2px solid $lightGray;

      @include media-desktopSm {
        text-align: left;
        flex-direction: row;
        justify-content: space-between;
      }

      .title {
        color: $firstColor;
      }

      .desc {
        margin: 20px 0 0;

        @include media-desktopSm {
          margin: 0;
          width: 50%;
        }
      }
    }

    .mealCol {
      display: flex;
      text-align: center;
      align-items: center;
      flex-direction: column;

      @include media-tabletSm {
        text-align: left;
        align-items: flex-start;
      }

      @include media-desktopSm {
        gap: 20px;
        margin: 70px 0 0;
        flex-direction: row;
        justify-content: space-between;
      }

      @include media-desktopSm {
        gap: 50px;
      }

      .meal {
        margin: 70px 0 0;

        @include media-desktopSm {
          flex: 50%;
          margin: 0;
        }
      }
    }
  }

  .location {
    @include secPadding;
  }

  .app {
    @include secPaddingBottom;
  }
}
