@import "../../styles/global.scss";

.root {
  text-align: center;

  .city {
    padding: 0 0 20px;
    color: $firstColor;
  }

  .address,
  .phone {
    color: $thirdColor;
    font-weight: 600;
  }
}
