@import "../../styles/global.scss";

.root {
  text-align: center;

  @include media-tabletLg {
    display: flex;
    text-align: left;

    gap: 30px;
  }

  .details {
    padding: 25px 0 0;

    @include media-tabletLg {
      width: 60%;
    }

    .heading {
      .subTitle {
        font-size: 24px;

        @include media-desktopSm {
          font-size: 40px;
        }
      }
      .title {
        font-size: 48px;
        padding: 15px 0 0;

        @include media-desktopSm {
          font-size: 64px;
        }
      }
      .desc {
        font-size: 16px;
        padding: 25px 0 0;

        @include media-desktopSm {
          font-size: 17px;
        }
      }
    }

    .btns {
      display: flex;
      flex-direction: column;
      margin: 25px 0 0;

      @include media-tabletLg {
        flex-direction: row;
        gap: 18px;
      }

      .btn {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        margin: 0 0 25px;
        padding: 13px 18px;

        border: 1px solid;
        border-radius: 5px;

        color: $firstColor;

        font-size: 14px;
        font-weight: 600;
        line-height: 13px;
        letter-spacing: 2px;

        transition: 0.2s background, 0.2s color;

        &:hover {
          color: $white;
          background: $firstColor;
        }

        span {
          @include media-tabletLg {
            margin: 0 0 0 25px;
          }
        }

        .icon {
          position: absolute;
          left: 18px;
        }
      }
    }
  }

  .phoneContainer {
    padding: 50px 0 0;

    @include media-tabletLg {
      display: flex;
      align-items: flex-end;

      width: 40%;
      padding: 0;
    }

    .phone {
      width: 100%;
    }
  }
}
