@mixin media-tabletSm {
  @media (min-width: #{$breakpoint-tabletSm}) {
    @content;
  }
}

@mixin media-tabletLg {
  @media (min-width: #{$breakpoint-tabletLg}) {
    @content;
  }
}

@mixin media-desktopSm {
  @media (min-width: #{$breakpoint-desktopSm}) {
    @content;
  }
}

@mixin media-desktopMd {
  @media (min-width: #{$breakpoint-desktopMd}) {
    @content;
  }
}

@mixin paddingSides {
  padding-left: 25px;
  padding-right: 25px;

  @include media-tabletSm {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include media-tabletLg {
    padding-left: 50px;
    padding-right: 50px;
  }

  @include media-desktopSm {
    padding-left: 70px;
    padding-right: 70px;
  }

  // @include media-desktopMd {
  //   padding-left: 25px;
  //   padding-right: 25px;
  // }
}
