@mixin media-tabletSm {
  @media (min-width: #{$breakpoint-tabletSm}) {
    @content;
  }
}

@mixin media-tabletLg {
  @media (min-width: #{$breakpoint-tabletLg}) {
    @content;
  }
}

@mixin media-desktopSm {
  @media (min-width: #{$breakpoint-desktopSm}) {
    @content;
  }
}

@mixin media-desktopMd {
  @media (min-width: #{$breakpoint-desktopMd}) {
    @content;
  }
}

@mixin paddingSides {
  padding-left: 25px;
  padding-right: 25px;

  @include media-tabletSm {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include media-tabletLg {
    padding-left: 50px;
    padding-right: 50px;
  }

  @include media-desktopSm {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@mixin secPadding {
  padding: 50px 25px;

  @include media-tabletSm {
    padding: 50px 30px;
  }

  @include media-tabletLg {
    padding: 75px 50px;
  }

  @include media-desktopSm {
    padding: 100px 70px;
  }
}

@mixin secPaddingBottom {
  padding: 50px 25px 0;

  @include media-tabletSm {
    padding: 50px 30px 0;
  }

  @include media-tabletLg {
    padding: 75px 50px 0;
  }

  @include media-desktopSm {
    padding: 100px 70px 0;
  }
}
