@import "../../styles/global.scss";

.root {
  text-align: center;

  &.clickable {
    cursor: pointer;

    .link {
      cursor: pointer;
    }
  }

  .link {
    cursor: default;

    .img {
      width: 45vw;
      height: 45vw;
      max-width: 250px;
      max-height: 250px;

      border-radius: 50%;

      @include media-tabletLg {
        width: 23vw;
        height: 23vw;
      }
    }

    .imgAnim {
      transition: 0.3s transform ease-in-out;

      &:hover {
        transform: translateY(-10px);
      }
    }

    .title {
      font-size: 22px;
      margin: 20px 0 0;
      font-weight: 500;
      line-height: 1.2em;
      color: $firstColor;

      @include media-tabletSm {
        font-size: 24px;
      }

      @include media-desktopSm {
        font-size: 32px;
      }
    }

    .desc {
      font-size: 15px;
      margin: 20px 0 0;
      color: $forthColor;
      font-weight: 400;
      line-height: 1.6em;

      @include media-desktopSm {
        font-size: 17px;
      }
    }
  }
}
