@import "../../styles/global.scss";

.root {
  text-align: center;

  &.clickable {
    cursor: pointer;

    .link {
      cursor: pointer;
    }
  }

  .link {
    cursor: default;

    .img {
      width: 45vw;
      height: 45vw;
      max-width: 250px;
      max-height: 250px;

      border-radius: 50%;

      @include media-tabletLg {
        width: 23vw;
        height: 23vw;
      }
    }

    .imgAnim {
      transition: 0.3s transform ease-in-out;

      &:hover {
        transform: translateY(-10px);
      }
    }

    .title {
      margin: 20px 0 0;
      color: $firstColor;
    }

    .desc {
      margin: 20px 0 0;
      color: $forthColor;
    }
  }
}
