@import "../../styles/global.scss";

.root {
  text-align: center;

  .img {
    border-radius: 50%;
    width: 240px;
    height: 240px;
  }

  .title {
    font-size: 22px;
    margin: 25px 0 0;
    color: $firstColor;

    @include media-desktopSm {
      font-size: 32px;
    }
  }

  .description {
    font-size: 15px;
    margin: 25px 0 0;
    color: $forthColor;

    @include media-desktopSm {
      font-size: 17px;
    }
  }
}
