@import "../../styles/global.scss";

.root {
  text-align: center;

  .subtitle {
    padding: 0 0 15px;
    color: $firstColor;
  }

  .title {
    padding: 0 0 25px;
    color: $thirdColor;
  }

  .desc {
    padding: 0 0 25px;
    color: $forthColor;
  }

  .btn {
    width: auto;
  }
}

.flex {
  text-align: left;

  @include media-tabletLg {
    display: flex;
    gap: 100px;
  }
}
