@import "../../styles/global.scss";

.root {
  position: fixed;

  top: 0;
  left: 0;
  z-index: 9;
  width: 100vw;
  transform: translateY(-100%);
  opacity: 0;

  color: $white;
  transition: 0.3s background, 0.3s opacity;

  &.showNavbar {
    background: $firstColor;
    transform: translateY(0);
    opacity: 1;
  }

  .mobileNavbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px;

    @include media-tabletLg {
      padding: 20px 35px;
    }

    .left {
      .logo {
        width: 50px;
      }
    }

    .right {
      .menuIcon {
        width: 25px;
        height: 25px;
      }
    }
  }
}
