@import "../../styles/global.scss";

.root {
  position: relative;
  overflow-x: hidden;
  background: $fifthColor;

  .offers {
    @include secPadding;

    .heading {
      display: flex;
      justify-content: center;
    }

    .bigOffer {
      margin: 50px 0 0;
    }

    .smallOffers {
      @include media-tabletSm {
        gap: 25px;
        display: flex;
        padding: 0 0 25px;
      }

      .smallOffer {
        margin: 25px 0 0;

        @include media-tabletSm {
          width: 50%;
          margin: 25px 0 0;
        }
      }
    }

    .hostParty {
      position: relative;

      width: 100%;
      height: 415px;
      margin: 100px 0 0;
      border-radius: 15px;

      background-image: url("../../assets/images/hostParty.jpeg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;

      @include media-tabletSm {
        height: 60vw;
        max-height: 400px;
      }

      @include media-tabletLg {
        height: 50vw;
        max-height: 500px;
      }

      @include media-desktopSm {
        max-height: 550px;
      }

      .blackBackground {
        display: none;

        @include media-tabletSm {
          display: flex;
          position: absolute;

          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0.3;
          border-radius: 15px;
          background-color: $black;
        }
      }

      .type {
        display: none;

        @include media-tabletSm {
          display: flex;
          position: absolute;

          left: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 15px;
        }
      }

      .details {
        position: absolute;

        bottom: 0;
        color: $white;
        padding: 25px;
        background: $firstColor;
        width: calc(100% - 50px);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        @include media-tabletSm {
          padding: 25px 60px;
          background: transparent;
        }

        @include media-tabletLg {
          padding: 30px 85px;
        }

        @include media-desktopSm {
          padding: 40px 100px;
        }

        .title {
          text-transform: uppercase;

          @include media-desktopSm {
            font-size: 48px;
          }

          @include media-desktopMd {
            font-size: 56px;
          }
        }

        .desc {
          font-size: 15px;
          padding: 15px 0 0;

          @include media-tabletSm {
            width: 65%;
            padding: 10px 0 0;
          }

          @include media-tabletLg {
            width: 55%;
            font-size: 16px;
            padding: 20px 0 0;
          }

          @include media-desktopSm {
            width: 50%;
            font-size: 18px;
          }

          @include media-desktopMd {
            font-size: 20px;
          }
        }

        .btn {
          width: auto;
          margin: 15px 0 0;

          @include media-tabletSm {
            margin: 10px 0 0;
          }

          @include media-tabletLg {
            margin: 25px 0 0;
          }
        }
      }
    }
  }

  .location {
    @include secPadding;
  }

  .app {
    @include secPaddingBottom;
  }
}
