@import "../../styles/global.scss";

.root {
  overflow-x: hidden;
  background: $fifthColor;

  .features {
    position: relative;
    padding: 100px 25px 50px;

    @include media-tabletSm {
      padding: 100px 30px 50px;
    }

    @include media-tabletLg {
      padding: 100px 50px 75px;
    }

    @include media-desktopSm {
      padding: 100px 70px;
    }

    .pizzaContainer {
      position: absolute;

      left: 50%;
      z-index: 1;
      top: -100px;
      transform: translateX(-50%);

      @include media-desktopSm {
        top: -235px;
      }

      .pizza {
        width: 200px;
        height: 200px;

        @include media-desktopSm {
          width: 470px;
          height: 470px;
        }
      }
    }

    .highlights {
      @include media-tabletLg {
        display: flex;
        gap: 50px;
      }

      @include media-desktopSm {
        padding: 150px 0 0;
      }

      .imgText {
        padding: 50px 0 0;

        @include media-tabletLg {
          width: 33%;
          padding: 0;
        }
      }

      .middleImgText {
        @include media-tabletLg {
          padding: 65px 0 0;
        }
      }
    }
  }

  .services {
    position: relative;
    color: $white;

    background: url("../../assets/images/pizzeria-template-delivery-section-img-bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;

    .blackBackground {
      position: absolute;

      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.7;
      background-color: $black;
    }

    .content {
      padding: 50px 0;
      position: relative;
      text-align: center;
      @include paddingSides;

      @include media-tabletLg {
        padding-top: 100px;
        padding-bottom: 100px;
      }

      .desc {
        margin: 20px 0 0;
      }

      .iconTextLinks {
        margin: 50px 0 0;

        @include media-tabletLg {
          margin: 0;
          display: flex;
          justify-content: space-around;
        }

        .iconTextLink {
          margin: 50px 0 0;

          @include media-tabletLg {
            width: 33%;
          }
        }
      }
    }
  }

  .offers {
    @include secPadding;

    .heading {
      display: flex;
      text-align: center;
      flex-direction: column;

      @include media-tabletSm {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
      }

      .title {
        padding: 0 0 25px;
      }

      .btn {
        display: flex;
        margin: 0 0 20px;
        align-items: center;
        justify-content: center;
      }
    }

    .offersWrapper {
      padding: 25px 0 0;

      @include media-tabletLg {
        padding: 50px 0 0;
      }

      .smallOffers {
        @include media-tabletLg {
          gap: 50px;
          display: flex;
        }

        .smallOffer {
          margin: 25px 0 0;

          @include media-tabletLg {
            width: 50%;
            margin: 50px 0 0;
          }
        }
      }
    }
  }

  .locations {
    @include secPadding;
  }

  .social {
    .top {
      margin: 0;
      position: relative;

      .background {
        z-index: 0;
        height: 50vw;
      }

      .box {
        top: 0;
        right: 0;
        z-index: 1;
        width: 100%;
        color: $white;
        background-color: $firstColor;

        @include media-tabletLg {
          width: 50%;
          height: 50%;
          position: absolute;
        }

        .contentWrapper {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          .content {
            display: flex;
            padding: 50px 25px;
            text-align: center;
            align-items: center;
            flex-direction: column;

            @include media-tabletLg {
              gap: 20px;
              padding: 0;
              max-width: 350px;
              text-align: left;
              flex-direction: row;
              align-items: flex-start;
            }

            @include media-desktopSm {
              max-width: 450px;
            }

            .icon {
              > svg {
                width: 50px;
                height: 50px;

                @include media-tabletLg {
                  width: 35px;
                  height: 35px;
                }

                @include media-desktopMd {
                  width: 75px;
                  height: 75px;
                }
              }
            }

            .text {
              .title {
                padding: 20px 0 0;
                font-weight: 500;

                @include media-tabletLg {
                  padding: 0;
                }
              }

              .desc,
              .btn {
                margin: 15px 0 0;

                @include media-desktopMd {
                  margin: 20px 0 0;
                }
              }

              .btn {
                width: auto;
              }
            }
          }
        }
      }
    }

    .bottom {
      display: flex;
      @include secPadding;
      justify-content: center;
      background-color: $firstColor;

      .ratings {
        gap: 50px;
        color: $white;
        display: flex;
        flex-direction: column;

        @include media-tabletLg {
          gap: auto;
          flex-direction: row;
        }
      }
    }
  }

  .menu {
    @include secPadding;

    .highlights {
      padding: 75px 0 0;

      @include media-tabletLg {
        gap: 50px;
        padding: 0;
        display: flex;
      }

      .meal {
        padding: 0 0 50px;

        @include media-tabletLg {
          width: 33%;
        }
      }

      .middleMeal {
        @include media-tabletLg {
          padding: 65px 0 0;
        }
      }
    }
  }

  .franchise {
    @include secPadding;
  }

  .app {
    @include secPaddingBottom;
  }
}
