@import "../../styles/global.scss";

.route {
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;

  color: $sixthColor;
  transition: 0.2s color;

  &:hover {
    color: $firstColor;
  }
}

.active {
  color: $firstColor;
}
