@import "../../styles/global.scss";

.root {
  text-align: center;

  @include media-tabletSm {
    text-align: left;
  }

  .wrapper {
    padding: 50px 25px;

    @include media-tabletSm {
      padding: 50px 30px;
    }

    @include media-tabletLg {
      padding: 75px 50px;
    }

    @include media-desktopSm {
      padding: 100px 70px;
    }

    @include media-tabletSm {
      display: grid;
      column-gap: 20%;
      grid-template-columns: 40% 40%;
    }

    @include media-desktopSm {
      column-gap: 5%;
      grid-template-columns: 29.5% 18.5% 18.5% 18.5%;
    }

    .heading {
      padding: 0 0 50px;

      @include media-desktopSm {
        padding: 0;
      }

      .logo {
        width: 124px;
      }

      .desc {
        padding: 20px 0 0;
        color: $forthColor;

        @include media-tabletSm {
          padding: 20px 30px 0 0;
        }
      }

      .socials {
        gap: 20px;
        display: flex;
        padding: 20px 0 0;
        align-items: center;
        justify-content: center;

        @include media-tabletSm {
          justify-content: flex-start;
        }

        @include media-desktopSm {
          padding: 30px 0 0;
        }

        .icon {
          width: 20px;
          height: 20px;
          color: $black;
          transition: 0.2s transform, 0.2s color;

          &:hover {
            color: $firstColor;
            transform: scale(1.1);
          }
        }
      }
    }

    .about {
      padding: 0 0 50px;

      @include media-tabletLg {
        padding: 0;
      }
    }

    .menu {
      padding: 0 0 50px;

      @include media-tabletSm {
        padding: 0;
      }
    }

    .location {
      @include media-tabletSm {
        padding: 0;
      }
    }

    .about,
    .menu,
    .location {
      .title {
        font-size: 24px;
        font-weight: 400;
        padding: 0 0 15px;
      }

      .route {
        color: $forthColor;
        transform-origin: 0 50%;
        transition: 0.2s color, 0.2s transform;

        &:hover {
          color: $firstColor;
          transform: scale(1.015);
        }
      }
    }
  }

  .copyright {
    padding-top: 50px;
    color: $forthColor;
    text-align: center;
    padding-bottom: 50px;
    @include paddingSides;
    border-top: 1px solid $sixthColor;
  }
}
