@import "../../styles/global.scss";

.root {
  position: fixed;
  width: 100vw;
  height: 100vh;
  right: 0;
  top: 0;
  z-index: 2;
  background: $firstColor;
  transform-origin: 0 0;
  transition: transform 0.8s $sidebar-exit;
  transform: translateX(111vw);
  opacity: 0;

  @include media-tabletLg {
    display: none;
  }

  &.open {
    transform: translate(0, 0);
    transition: transform 1.1s $sidebar-entry;
  }

  .routes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 70px 25px;

    .routeWrapper {
      .route {
        padding: 12px 0;
      }
    }
  }
}
