@import "../../styles/global.scss";

.root {
  position: relative;
  padding: 13px 23px;
  box-sizing: border-box;
  width: 100%;

  &.labelGap {
    .icon {
      top: 50%;
      left: 23px;
      position: absolute;
      transform: translateY(-50%);
    }

    padding: 13px 23px 13px 48px;
  }
}

.red {
  color: $white;
  background: $firstColor;
  border: 1px solid $firstColor;

  &:hover {
    background: $secondColor;
    border: 1px solid $secondColor;
  }
}

.outlineBlack {
  color: $black;
  border: 1px solid $black;

  &:hover {
    color: $white;
    background: $black;
  }
}

.outlineRed {
  color: $firstColor;
  border: 1px solid $firstColor;

  &:hover {
    color: $white;
    background: $firstColor;
  }
}

.outlineWhite {
  color: $white;
  border: 1px solid $white;

  &:hover {
    color: $black;
    background: $white;
  }
}
